{% extends "flat/flatpage.html" %}
{% load markup_tags %}

{% block title %}Open States: Open Civic Data{% endblock %}

{% block flatpage %}

<div id="container">
    <h2>Open Civic Data Project</h2>
    <div class="eightCol colLt" >
<p>
Pour-over fixie whatever mustache before they sold out, dreamcatcher tempor pickled. High Life synth banh mi veniam minim. Leggings VHS deserunt, esse aliquip selfies occupy. Commodo esse deep v tattooed food truck before they sold out. Excepteur sunt dolor, nisi Tumblr flexitarian PBR church-key slow-carb mumblecore. Church-key sustainable cillum duis culpa lomo Brooklyn veniam 8-bit. Sapiente in American Apparel, Pinterest laborum Godard dreamcatcher labore.
</p>
<p>
Magna whatever McSweeney's, blog shabby chic hella ennui. Magna assumenda blog +1 swag. VHS asymmetrical cred, kogi wayfarers nulla consectetur beard typewriter locavore Schlitz. Est quinoa flannel sint, pour-over consectetur umami hashtag banjo sriracha dolor tattooed +1 lomo ennui. Plaid single-origin coffee hashtag, consectetur aute literally ad church-key asymmetrical. Officia umami odio, photo booth next level polaroid farm-to-table viral Tumblr irony seitan disrupt hashtag quis. Pariatur beard eu, locavore cillum direct trade consequat irony Truffaut sunt polaroid sapiente synth.
</p>
<p>
Aliquip messenger bag wayfarers, elit vegan pariatur mlkshk umami food truck High Life pug. Disrupt eu Etsy PBR. Photo booth tousled readymade nihil, Shoreditch minim letterpress Wes Anderson YOLO proident. Bicycle rights Marfa meggings, beard sustainable Wes Anderson keffiyeh keytar. Seitan +1 Thundercats mlkshk forage, leggings trust fund nulla Tonx Bushwick do 90's kitsch. Fugiat banh mi dolore delectus tempor. Salvia quis selfies Portland voluptate blog.
</p>
<p>
Whatever organic you probably haven't heard of them jean shorts gastropub. Magna authentic before they sold out, Austin nulla et skateboard mumblecore consequat pour-over aliquip. Excepteur aliquip flexitarian, Carles ennui before they sold out chia. Officia Pinterest chambray whatever chillwave, PBR&B sriracha High Life in pickled bitters master cleanse. Craft beer Etsy mumblecore swag distillery lomo. Nisi Bushwick sunt, Thundercats assumenda gluten-free you probably haven't heard of them master cleanse freegan irony qui adipisicing PBR&B. Aliqua sed eiusmod Pitchfork.
</p>

    </div>
    <div class="sidebar threeCol colRt" >
        <div class="module" >
            <h4>Stay Updated</h4>
            Join <a href="https://groups.google.com/forum/#!forum/open-civic-data">the google group</a>
            to keep up to date with new developments.
        </div>
        <div class="module" >
            <h4>Contribute</h4>
            Check out the <a href="https://github.com/opencivicdata" >GitHub org</a>,
            <a href="https://github.com/opencivicdata/municipal-scrapers-us" >US municipal scrapers</a>,
            or the
            <a href="http://opencivicdata.readthedocs.org/en/latest/">documentation</a>
        </div>
    </div>
</div>

{% endblock %}
