{% extends "flat/flatpage.html" %}
{% load staticfiles %}
{% load markup_tags %}

{% block title %}Open States: Open Civic Data{% endblock %}

{% block flatpage %}

<div id="container">
    <img src="{% static "images/opencivicdata_logo.png" %}" style="border:0px" alt="The OpenCivic Data Project" />
    <div class="eightCol colLt" >
        <p>
The Sunlight Foundation is seeking volunteers to assist in developing a national
collection of civic data about our cities and towns. This municipal-level
legislative data will echo that available from our
<a href="http://openstates.org/" >Open States Project</a>
for all 50 states. Whether you can write a web scraper, help with data
management, or contact policy makers on why open data is important, you
contributions are valued.
        </p>
        <p>
We are committed to creating a free, open and sustainable database of civic
data, covering municipalities across the U.S. Additionally, we are encouraging
all local governments, technology vendors and web developers to adopt a set of
Open Civic Data standards to ensure that data is made available publicly and in
a machine-readable format.
        </p>
        <p>
This collection of local legislative data is also part of an API, currently in
beta. Sunlight also welcomes our community partners in this project and
supporters such as Google.org. Read reading for information on how to get
involved.
        </p>
    </div>
    <div class="sidebar threeCol colRt" >
        <div class="module" >
            <h4>Stay Updated</h4>
            Join <a href="https://groups.google.com/forum/#!forum/open-civic-data">the google group</a>
            to keep up to date with new developments.
        </div>
        <div class="module" >
            <h4>Contribute</h4>
            Check out the <a href="https://github.com/opencivicdata" >GitHub org</a>,
            <a href="https://github.com/opencivicdata/municipal-scrapers-us" >US municipal scrapers</a>,
            or the
            <a href="http://opencivicdata.readthedocs.org/en/latest/">documentation</a>
        </div>
    </div>
</div>

{% endblock %}
